<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head-section :: head-main">

</head>
<body>

<div id="wrapper">
    <header id="header" th:replace="header-fixed-top :: header-main">
    </header>

    <section>
        <!-- START container for featured advertisement -->
        <div class="p-3 container-fluid ad-category-container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 mt-5">
                    <div class="stepper-container">
                        <ul class="stepper-progress-bar">
                            <li class="active">Info de l'annonce</li>
                            <li>Photos</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- MIDDLE container -->
                <div class="col-md-6 mt-5 mb-5">
                    <div class="bg-white border box-shadow p-5">
                        <div class="pb15" th:if="${action == 'add'}"><h4>Nouvelle Annonce</h4></div>
                        <form name="adForm" id="adForm" class="custom-form-typography" th:action="@{/web/dashboard/advertisements/save}"
                              th:object="${advertisement}" enctype="multipart/form-data"
                              method="post">
                            <input type="hidden" th:id="adUuid" th:field="${advertisement.id}">
                            <input type="hidden" th:id="status" th:field="${advertisement.status}">
                            <input type="hidden" th:id="numViews" th:field="${advertisement.numViews}">
                            <div class="form-group row">
                                <label for="category1" class="col-sm-2 col-form-label">Type</label>
                                <div class="col-sm-8">
                                    <select th:if="${categoriesLevel2 == null}" class="custom-select"
                                            th:disabled="${action == 'view'}"
                                            th:field="${advertisement.category.name}"
                                            id="category1" onchange="getSubCategories()" required>
                                        <option th:value="None">Selectionnez le type d'Annonce</option>
                                        <option th:each="category : ${rootCategories}" th:value="${category.name}"
                                                th:text="${category.name}">Option 1
                                        </option>
                                    </select>
                                    <select th:if="${categoriesLevel2 != null && categoriesLevel3 == null}"
                                            class="custom-select" th:disabled="${action == 'view'}"
                                            th:field="${advertisement.category.parent.name}"
                                            id="category1" onchange="getSubCategories()" required>
                                        <option th:value="None">Selectionnez le type d'Annonce</option>
                                        <option th:each="category : ${rootCategories}" th:value="${category.name}"
                                                th:text="${category.name}">Option 1
                                        </option>
                                    </select>
                                    <div class="mt-2 error">
                                        <span th:if="${#fields.hasErrors('category.name')}" th:errors="*{category.name}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 th:if="${categoriesLevel2 != null && #lists.size(categoriesLevel2) > 0}">
                                <label for="category2" class="col-sm-2 col-form-label">Categorie</label>
                                <div class="col-sm-8">
                                    <select th:if="${categoriesLevel2 != null && categoriesLevel3 == null}"
                                            class="custom-select" th:disabled="${action == 'view'}"
                                            th:field="${advertisement.category.name}"
                                            id="category2" onchange="getSubCategories()" required>
                                        <option th:value="None">Selectionnez une categorie</option>
                                        <option th:each="category : ${categoriesLevel2}" th:value="${category.name}"
                                                th:text="${category.name}">
                                        </option>
                                    </select>
                                    <select th:if="${categoriesLevel3 != null}" class="custom-select"
                                            th:disabled="${action == 'view'}"
                                            th:field="${advertisement.category.parent.name}"
                                            id="category2" onchange="getSubCategories()" required>
                                        <option th:value="None">Selectionnez une categorie</option>
                                        <option th:each="category : ${categoriesLevel2}" th:value="${category.name}"
                                                th:text="${category.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row"
                                 th:if="${categoriesLevel3 != null && #lists.size(categoriesLevel3) > 0}">
                                <label for="category3" class="col-sm-2 col-form-label">Categorie II</label>
                                <div class="col-sm-8">
                                    <select class="custom-select" th:disabled="${action == 'view'}"
                                            th:field="${advertisement.category.categoryLevel3}"
                                            id="category3" onchange="getSubCategories()">
                                        <option th:value="None">Selectionnez une categorie</option>
                                        <option th:each="category : ${categoriesLevel3}" th:value="${category.name}"
                                                th:text="${category.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-label">Titre</label>
                                <div class="col-sm-8">
                                    <input class="form-control" th:disabled="${action == 'view'}" type="text"
                                           th:field="${advertisement.title}"
                                           id="title" required>
                                    <div class="mt-2 error">
                                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="price" class="col-sm-2 col-form-label">Prix</label>
                                <div class="col-sm-8">
                                    <input class="form-control" th:disabled="${action == 'view'}" type="text"
                                           th:field="${advertisement.price}"
                                           id="price" required>
                                    <div class="mt-2 error">
                                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="adLocation" class="col-sm-2 col-form-label">Emplacement</label>
                                <div class="col-sm-8">
                                    <input class="form-control" th:disabled="${action == 'view'}" type="text"
                                           th:field="${advertisement.adLocation}" id="adLocation" required>
                                    <div class="mt-2 error">
                                        <span th:if="${#fields.hasErrors('adLocation')}" th:errors="*{adLocation}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="brand" class="col-sm-2 col-form-label">Marque</label>
                                <div class="col-sm-8">
                                    <input class="form-control" th:disabled="${action == 'view'}" type="text"
                                           th:field="${advertisement.brand}" id="brand">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="color" class="col-sm-2 col-form-label">Couleur</label>
                                <div class="col-sm-8">
                                    <input class="form-control" th:disabled="${action == 'view'}" type="text"
                                           th:field="${advertisement.color}" id="color">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-8">
                                        <textarea class="form-control" th:disabled="${action == 'view'}"
                                                  th:field="${advertisement.description}"
                                                  id="description" required maxlength="150"></textarea>
                                    <div class="mt-2 error">
                                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="mt-3">
                        <button type="submit" th:if="${action != 'view'}" class="btn btn-success btn-sm"
                                onclick="submitAd()">Sauvegarder
                        </button>
                        <button th:type="submit" th:if="${action == 'view'}" class="btn btn-success btn-sm"
                                onclick="updateAd()">Modifier
                        </button>
                        <button th:type="submit" th:if="${action != 'view'}"
                                class="btn btn-light btn-sm" onclick="cancelAd()">Annuler
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" th:if="${action == 'view'}"
                                onclick="viewPhotos()">Photos
                        </button>
                        <button th:type="submit" th:if="${action == 'view'}" class="btn btn-light btn-sm"
                                onclick="cancelAd()">Retour Aux Annonces
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="footer :: footer-main">

    </footer>
</div>
<script type="text/javascript">
    function getSubCategories() {
        document.getElementById('adForm').action = '/web/dashboard/advertisements/new';
        document.getElementById('adForm').submit();
    }

    function submitAd() {
        document.getElementById('adForm').action = '/web/dashboard/advertisements/save';
        document.getElementById('adForm').submit();
    }

    function updateAd() {
        document.getElementById('adForm').action = '/web/dashboard/advertisements/update';
        document.getElementById('adForm').submit();
    }

    function cancelAd() {
        document.getElementById('adForm').action = '/web/dashboard/advertisements/cancel';
        document.getElementById('adForm').submit();
    }

    function uploadPhoto() {
        document.getElementById('adForm').action = '/web/dashboard/advertisements/new';
        document.getElementById('adForm').submit();
    }

    function removePhoto(uuid) {
        document.getElementById("photoUUID").value = uuid;
        alert(document.getElementById("photoUUID").value);
        document.removePhotoForm.submit();
    }

    function viewPhotos() {
        var uuid = document.getElementById('adUuid').value;
        document.location.href = '/web/dashboard/advertisements/photos?currAdId=' + uuid;
    }
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

