<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head-section :: head-main">

</head>
<body>

<header th:replace="header :: header-main">
</header>

<section>
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-around" style="border-top: 1px solid lightgray;">
            <div class="col-sm-2" style="border-right: 1px solid lightgray;">
                <div class="container-fluid h-100 mt-5 mb-5">
                    <span class="font-weight-bold mb-3">Prix</span>
                    <div th:each="priceFilter : ${priceFilters}" class="mt-2">
                        <a th:text="${priceFilter.minValue} + ' to ' + ${priceFilter.maxValue}" href="#"
                           class="text-secondary"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 d-flex category-card ">
                <div th:each="ad : ${advertisements}" class="card-body">
                    <div class="">
                        <div class="img-container mb-1">
                            <img th:src="@{${'/web/adphotos/' + ad.photos[0].id}}"/>
                        </div>
                        <div>
                            <a th:text="${ad.title}" class="category-title" th:href="@{'/web/advertisements/view/' + ${ad.id}}"></a>
                            <span th:text="${ad.description}" class="p-0  description"></span>
                        </div>

                        <div>
                            <span th:text="${#numbers.formatCurrency(ad.price)}" class="font-weight-bold"
                                  style="color: dimgray;"></span>
                        </div>

                        <!--                            <div>
                                                        <i class="fa fa-map-marker mr-1" style="color: darkgray;"></i>
                                                        <span th:text="${ad.adLocation}" class="mr-5"></span>

                                                        <i class="fa fa-phone fa-flip-horizontal mr-1" style="color: dimgray;"></i>
                                                        <span th:text="${ad.seller.cellPhone}" class="mr-5"></span>

                                                        <i class="fa fa-envelope mr-1" style="color: dimgray;"></i>
                                                        <span>Email</span>
                                                    </div>-->

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<footer th:replace="footer :: footer-main">

</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
