<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<footer th:fragment="footer-main">
    <!--  footer widget section -->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <!-- Widget 1 -->
                <div class="col-md-3">
                    <div class="widget mb50">
                        <h3 class="mb20 widget-title">A PROPOS DE SENACHAT</h3>
                        <p>Studium calere ipse sciscat ducimus, zenonem parvos pariter nostras afficit invidia ullum politus, consiliisque democritea vis consuetudine insolens docendi sensum iustitia turbent, conficiuntur suppetet regula sint nocet mors certissimam efficiantur domo brevis.</p>
                    </div><!-- .widget .mb50 -->
                </div><!-- .col-md-3 -->
                <!-- Widget 2 -->
                <div class="col-md-3">
                    <div class="widget mb50">
                        <h3 class="mb20 widget-title">CATEGORIES</h3>
                        <ul>
                            <li><a href="${senachatContext}/web/advertisements/display-category?type=Cellulaires">Téléphones</a></li>
                            <li><a href="${senachatContext}/web/advertisements/display-category?type=Immobiliers">Immobiliers</a></li>
                            <li><a href="${senachatContext}/web/advertisements/display-category?type=Electroniques">Electroniques</a></li>
                            <li><a href="${senachatContext}/web/advertisements/display-category?type=Automobiles">Autos</a></li>
                            <li><a href="${senachatContext}/web/advertisements/display-category?type=Mobiliers">Mobiliers</a></li>
                            <li><a href="${senachatContext}/web/advertisements/display-category?type=Cellulaires">Comestiques</a></li>
                        </ul>
                    </div><!-- .widget .mb50 -->
                </div><!-- .col-md-3 -->
                <!-- Widget 3 -->
                <div class="col-md-3">
                    <div class="widget mb50">
                        <h3 class="mb20 widget-title">Liens Utiles</h3>
                        <ul>
                            <li><a href="#">Créer un compte</a></li>
                            <li><a href="#">Guide utilisateur</a></li>
                            <li><a href="#">Protection utilisateur </a></li>
                            <li><a href="#">Informations de la compagnie</a></li>
                            <li><a href="#">Support technique</a></li>
                            <li><a href="#">Option livraison</a></li>
                        </ul>
                    </div><!-- .widget .mb50 -->
                </div><!-- .col-md-3 -->
                <!-- Widget 4 -->
                <div class="col-md-3">
                    <div class="widget mb50">
                        <h3 class="mb20 widget-title">Nous Contacter</h3>
                        <address>
                            <strong>Envato</strong><br>
                            Level 13, 2 Elizabeth St, Melbourne<br>
                            Victoria 3000 Australia<br><br>
                            +123456789123<br>
                            <a href="mailto:info@seneachat.com">info@seneachat.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="footer-social">
            <ul>
                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="copyright-txt pt30">&copy;
            <a href="#">Signare Technologies</a>
            2016</div>
    </div>

    <script src="/static/js/jquery.min.js"
            th:src="@{/js/jquery.min.js}"></script>

    <script src="/static/js/popper.min.js"
            th:src="@{/js/popper.min.js}"></script>

    <script src="/static/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>