<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-main">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- SITE TITLE HERE -->
    <title>Senachat</title>

    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="/static/vendors/linericon/style.css" th:href="@{/vendors/linericon/style.css}">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="/static/vendors/owl-carousel/owl.carousel.min.css" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}">
    <link rel="stylesheet" href="/static/vendors/lightbox/simpleLightbox.css" th:href="@{/vendors/lightbox/simpleLightbox.css}">
<!--    <link rel="stylesheet" href="/static/vendors/nice-select/css/nice-select.css" th:href="@{/vendors/nice-select/css/nice-select.css}">-->
    <link rel="stylesheet" href="/static/vendors/animate-css/animate.css" th:href="@{/vendors/animate-css/animate.css}">
    <link rel="stylesheet" href="/static/vendors/flaticon/flaticon.css" th:href="@{/vendors/flaticon/flaticon.css}">
    <!-- main css -->
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="/static/css/responsive.css" th:href="@{/css/responsive.css}">


    <script type="text/javascript">
        function createNewAd(newAdUrl) {
            window.location.href = newAdUrl;
        }

        function viewAd(adUrl) {
//    		alert("url is: " + adUrl);
            window.location.href = adUrl;
        }
    </script>
</head>
</html>
