<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="head-section :: head-main">

</head>
<body>

<header id="header" th:fragment="header-main">
    <div class="container-fluid-custom">
        <div class="header-holder">
            <div class="logo">
                <a href="#">
                    <img src="/images/logo.png" alt="image description">
                </a>
            </div>
            <div class="search-form">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Search">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <nav id="nav">
                <ul class="right-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li th:if="${currentUser == null}">
                        <a th:href="@{/web/login}" href="#"><i class="fa fa-user fa-xs"></i>Se Connecter</a>
                    </li>
                    <li th:if="${currentUser != null}">
                        <a th:href="@{/web/dashboard}"><i class="fa fa-user"></i><span>Mon Compte</span></a>
                    </li>

                </ul>
            </nav>
            <a href="#" class="search-opener"><i class="fa fa-search"></i></a>
            <a href="#" class="nav-opener"><span></span></a>
        </div>
    </div>
</header>
