<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head-section :: head-main">

</head>
<body>

<header th:replace="header :: header-main">
</header>

<div id="carousel" class="slider-wrapper">
    <div class="slider">
        <div class="fs_loader"></div>
        <div class="slide" data-in="scrollLeft">
            <p class="big-title" data-position="125,70" data-delay="500" data-in="bottom" data-out="bottom">
                <strong>LA PLATEFORME NUMERO I</strong>
            </p>
            <p class="big-title" data-position="180,70" data-delay="600" data-in="bottom" data-out="bottom">
                <strong>DE PUBLICITE EN LIGNE</strong>
            </p>

            <img src="${ipadCarousel}" alt="" data-position="100,150" data-in="right" data-out="right">
            <img src="${bollCarousel}" alt="" width="44" height="44" data-position="250,350" data-delay="700" data-in="top" data-out="top">
            <img src="http://www.seneachat.com/carousel_2.jpg" alt="" data-fixed class="slider-background">
        </div>
        <div class="slide" data-in="scrollLeft">
            <p class="big-title" data-position="80,120" data-delay="500" data-in="bottom" data-out="bottom" style="color: #33cc33;">
                <strong>APPAREILS ELECTRONIQUES DE TOUTES VARIETES</strong></p>
            <p class="big-title" data-position="140,120" data-delay="700" data-in="bottom" data-out="bottom" style="color: #737373;">IPAD, TELEVISIONS ECRAN PLAT</p>
            <p class="big-title" data-position="200,120" data-delay="900" data-in="bottom" data-out="bottom" style="color: #737373;">SMART TV, ORDINATEURS</p>
            <img src="http://www.seneachat.com/ipad.png" alt="" data-position="300,120" data-delay="1200" data-in="bottom" data-out="bottom">
            <img src="http://www.seneachat.com/iphone-black.png" alt="" data-position="300,500" data-delay="1200" data-in="bottom" data-out="bottom">
            <img src="http://www.seneachat.com/laptop.png" alt="" data-position="300,820" data-delay="1200" data-in="bottom" data-out="bottom">
            <img src="http://www.seneachat.com/blue-light.jpg" alt="" data-fixed class="slider-background">
        </div>
    </div>
</div>
<br/>
<br/>
<section class="mb70">
    <hr class="gradient rect-sqr mb50">
    <div class="home-item-categories">
        <div class="flex-item">
            <div class="section-title center mb40">
                <h3>TELEPHONES CELLULAIRES</h3>
                <p>Telephones cellulaires de hautes gammes. Consultez la page des telephones pour en savoir plus</p>
            </div>
        </div>
        <div class="home-items-row flex-item">
            <div class="clearfix flex-item">
                <div align="center">
                    <a href="#"><img src="http://www.seneachat.com/iphone-black.jpg" alt=""/></a>
                </div>
            </div>
            <div class="clearfix flex-item">
                <div align="center">
                    <a href="#"><img src="http://www.seneachat.com/iphone-white.png" alt=""/></a>
                </div>
            </div>
            <div class="clearfix flex-item">
                <div align="center">
                    <a href="#"><img src="http://www.seneachat.com/galaxy-black.jpg" alt=""/></a>
                </div>
            </div>
            <div class="clearfix flex-item">
                <div align="center">
                    <a href="#"><img src="http://www.seneachat.com/galaxy-white.jpg" alt=""/></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mb70">
    <hr class="no-space grey-color">
    <div class="light-container home-item-categories inner-shadow-top-bottom pt70 pb40">
        <div class="flex-item">
            <div class="section-title center mb40">
                <h3>ELECTRONIQUES</h3>
                <p>Appareils electroniques divers: Smart TV, Televisions HD,
                    Ordinateurs Portables, IPAD, Lecteurs DVD, Blue Ray.</p>
            </div>
        </div>
        <!-- .section-title .center .mb40 -->
        <div class="home-items-row flex-item">
            <div class="flex-item" align="center">
                <a href="#"><img src="http://www.seneachat.com/smartv.png"
                                 alt="" /></a>
            </div>
            <!--               <div class="doubleside-shadow"></div> -->
            <div align="center" class="flex-item">
                <a href="#"><img src="http://www.seneachat.com/ipad.png" alt="" /></a>
            </div>
            <!--               <div class="doubleside-shadow"></div> -->
            <div align="center" class="flex-item">
                <a href="#"><img src="http://www.seneachat.com/dvd.png" alt="" /></a>
            </div>
            <!--               <div class="doubleside-shadow"></div> -->
            <div align="center" class="flex-item">
                <a href="#"><img src="http://www.seneachat.com/laptop.png"
                                 alt="" /></a>
            </div>
            <!--               <div class="doubleside-shadow"></div> -->
        </div>
        <!-- .row .mb30 -->
    </div>
    <!-- .light-container .inner-shadow-top-bottom .pt70 .pb40 -->
    <hr class="no-space grey-color">
</section>
<!-- .mb70 -->
<section class="mb70">
    <div class="home-item-categories">
        <div class="flex-item">
            <div class="section-title center mb40">
                <h3>AUTOMOBILES</h3>
                <p>Automobiles de toutes les varietes. SUV, Sedans, Camions
                    etc...</p>
            </div>
            <!-- .section-title .center .mb40 -->
        </div>
        <!-- .row -->
        <div class="home-items-row flex-item">
            <div align="center" class="flex-item">
                <a href="#"><img src="http://www.seneachat.com/bmw_suv.jpg"
                                 alt="" /></a>
            </div>

            <div align="center" class="flex-item">
                <a href="#"><img src="http://www.seneachat.com/honda_accord.png"
                                 alt="" /></a>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
<!-- .mb70 -->
<section>
    <hr class="no-space grey-color">
    <div class="light-container inner-shadow-top pt70 pb70">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="block-texts mb50">
                        <h3>
                            <small>We have only
                                <strong>two brands</strong></small><br>
                            And these are
                            <strong class="ct-highlight">world best</strong>
                        </h3>
                        <p>Minimum explentur intemperantiam partem eumque unde, adipiscendarum effecerit firmam inquam habeo servata contemnentes, fruitur depulsa putem maximam artem debemus frui. Nunc naturae meminerimus ludus. Dediti sane utilitatibus legendam infinito vocet scribendi fecerint sum, propriae nec aliquo unam, nostras adversarium velint dicit pondere depravare monstruosi interesset, omittendis metu deduceret, corpore praetermittenda veterum magistra finis multos, oblique geometrica factis respondendum putet pertinerent afficit utinam. Pertinax soluta nixam sapientiam, pericula graecis animadvertat.</p>
                        <a href="#" class="ct-btn  ct-btn-light-grey">View Details
                            <i class="fa fa-long-arrow-right"></i></a>
                    </div><!-- .block-texts .mb50 -->
                </div><!-- .col-md-7 -->
                <div class="col-md-5">
                    <div class="clearfix">
                        <a href="#"><img src="http://www.seneachat.com/couch.jpg" alt=""/></a>
                    </div><!-- .video-responsive -->
                </div><!-- .col-md-5 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .light-container .inner-shadow-top .pt70 .pb70 -->
</section>
<footer th:replace="footer :: footer-main">

</footer>

</body>
</html>

