<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head-section :: head-main">

</head>
<body class="hold-transition login-page">

<!-- /.login-logo -->
<div class="login-box">
    <div align="center">
        <a th:href="@{/web/home}" class="logo-text"><img src="/images/senachat-logo.png" alt="Logo">eneachat</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Acceder a Votre Compte</p>

        <form action="#" th:action="@{/web/login}" name="registrationForm" th:object="${currentUser}" method="post">
            <div class="form-group has-feedback">
                <input type="email" th:field="*{username}" class="form-control" placeholder="Email"/>
            </div>
            <div class="form-group has-feedback">
                <input type="password" th:field="*{password}" class="form-control" placeholder="Password"/>
            </div>
            <div align="center">
                <button type="submit" class="btn btn-success btn-block btn-flat">Sign In</button>
            </div>
        </form>
        <br/>
        <br/>
        <a th:href="@{/web/resetaccount}">J'ai oublie mon mot de passe</a><br>
        <a th:href="@{/web/register}" class="text-center">Creer un nouveau compte</a>
    </div>
</div>
</body>
</html>