<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar-main" class="col-sm-8">
    <nav class="main-nav clearfix">
        <div class="mobile-menu-controll">Menu
            <i class="fa fa-align-justify"></i>
        </div>
        <ul class="sf-menu clearfix" id="main-nav">
            <li class="active">
                <a href="${senachatContext}/web/home"><i class="fa fa-home"></i>
                    Acceuil</a>
            </li>
            <li>
                <a href="${senachatContext}/web/advertisements/display-category?type=Cellulaires">
                    Téléphones</a>
            </li>
            <li>
                <a href="${senachatContext}/web/advertisements/display-category?type=Immobiliers">
                    Immobiliers</a>
            </li>
            <li>
                <a href="${senachatContext}/web/advertisements/display-category?type=Electroniques">
                    Electroniques</a>
            </li>
            <li>
                <a href="${senachatContext}/web/advertisements/display-category?type=Automobiles">
                    Autos</a>
            </li>
            <li>
                <a href="${senachatContext}/web/advertisements/display-category?type=Mobiliers">
                    Mobiliers</a>
            </li>
            <li>
                <a href="#">
                    Cosmetiques</a>
            </li>
        </ul>
    </nav>

</div>

</body>
</html>