<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head-section :: head-main">

</head>
<body class="hold-transition login-page">
<div class="register-box">
    <div align="center">
        <a th:href="@{/web/home}" class="logo-text"><img src="/images/senachat-logo.png" alt="Logo">eneachat</a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Creer Un Nouveau Compte</p>

        <span style="color: red;" th:text="${#request.getAttribute('errorMsg')}" th:unless="${#request == null}">[...]</span>
        <form name="registrationForm" th:action="@{/web/register}" th:object="${currentUser}" action="#" method="post">
            <div class="form-group has-feedback">
                <input type="text" th:field="*{username}" class="form-control" placeholder="email" />
                <div class="mt-2 error">
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div>
            </div>
            <br/>
            <div class="form-group has-feedback">
                <input type="text" th:field="*{firstName}" class="form-control" placeholder="Prenom"/>
                <div class="mt-2 error">
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                </div>
            </div>
            <br/>
            <div class="form-group has-feedback">
                <input type="text" th:field="*{lastName}" class="form-control" placeholder="Nom"/>
                <div class="mt-2 error">
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                </div>
            </div>
            <br/>
            <div class="form-group has-feedback">
                <input type="text" th:field="*{cellPhone}" class="form-control" placeholder="telephone"/>
                <div class="mt-2 error">
                    <span th:if="${#fields.hasErrors('cellPhone')}" th:errors="*{cellPhone}"></span>
                </div>
            </div>
            <br/>
            <div class="form-group has-feedback">
                <input type="password" th:field="*{password}" class="form-control" placeholder="mot de passe"/>
                <div class="mt-2 error">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
            </div>
            <br/>
            <div class="form-group has-feedback">
                <input type="password" th:field="*{password2}"  class="form-control" placeholder="confirmer mot de passe"/>
                <div class="mt-2 error">
                    <span th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></span>
                </div>
            </div>
            <br/>
            <div align="center">
                <button type="submit" class="btn btn-success btn-block btn-flat">
                    Creer Mon Compte Senachat</button>
            </div>
            <br/>
            <br/>
            <a th:href="@{/web/login}" class="text-center">Acceder a mon compte</a>
        </form>

    </div>
</div>

</body>
</html>