<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head-section :: head-main">

</head>
<body>

<header th:replace="header :: header-main">
</header>
<body>

<div class="container-fluid" style="width: 80%;" align="center">
    <br/>
    <div class="alert alert-primary" role="alert">
        <strong>! Bienvenue sur senachat.</strong> Un message vous a ete envoye a votre address email contenant votre
        code d'activation. Inscrivez votre code d'activation ci-dessous pour confirmer votre compte et
        commencer a poster des annonces
    </div>
    <br/>
    <br/>


        <div th:if="${errorMsg != null}" class="alert alert-danger">
            <strong>! le code d'activation inscrit ne correspond pas au code que nous vous avons envoye. </strong>
            Consulter le message que nous vous avons envoye oubien clicquez sur le button <strong>envoyez un nouveau code</strong>.
        </div>

    <div class="container-fluid" align="center" style="width: 50%;">
        <form name="activationForm" id="activationForm" action="#" th:object="${seller}" th:action="@{/web/activate}" method="POST">
            <strong>Code d'Activation</strong><br/><br/>
            <div class="container-fluid" style="width: 50%;">
                <input type="text" name="activationCode" class="form-control" />
            </div>
            <br/>
            <br/>
            <div class="container-fluid" align="center">
                <div class="row" align="center">
                    <div class="col-xs-9 col-md-6" align="center">
                        <input type="submit" class="btn btn-info" value="soumettre"/>
                    </div>
                    <div class="col-xs-9 col-md-6" align="center">
                        <input type="submit" class="btn btn-success" value="envoyez un nouveau code"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    function processActivationForm(action) {
        document.getElementById("activationForm").action = action;
        document.getElementById("activationForm").method = "POST";
        document.activationForm.submit();
    }
</script>

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0/jquery.min.js"
        th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>

<script src="../static/js/popper.min.js"
        th:src="@{js/popper.min.js}"></script>

<script src="../static/js/bootstrap.min.js"
        th:src="@{js/bootstrap.min.js}"></script>

</body>
</html>