<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head-section :: head-main">

</head>
<body>

<div id="wrapper">
    <header id="header" th:replace="header-fixed-top :: header-main">
    </header>

    <section>
        <div class="container-fluid p-3 ad-category-container mt-5">
            <div class="row justify-content-center">

                <div class="col-md-6 mt-5 mb-5 bg-white border box-shadow p-5">

                    <div class="alert alert-primary" role="alert">
                        <strong>! Bienvenue sur senachat.</strong> Un message vous a ete envoye a votre address email contenant votre
                        code d'activation. Inscrivez votre code d'activation ci-dessous pour confirmer votre compte et
                        commencer a poster des annonces
                    </div>
                    <div th:if="${errorMsg != null}" class="alert alert-danger">
                        <strong>! le code d'activation inscrit ne correspond pas au code que nous vous avons envoye. </strong>
                        Consulter le message que nous vous avons envoye oubien clicquez sur le button <strong>envoyez un nouveau code</strong>.
                    </div>

                    <div class="container-fluid" align="center" style="width: 50%;">
                        <form name="activationForm" id="activationForm" action="#" th:action="@{/web/activate}" method="POST">
                            <strong>Code d'Activation</strong><br/><br/>
                            <div class="container-fluid" style="width: 50%;">
                                <input type="hidden" name="username" th:value="${username}">
                                <input type="text" name="activationCode" class="form-control" />
                            </div>
                            <br/>
                            <br/>
                            <div class="container-fluid" align="center">
                                <div class="row" align="center">
                                    <div class="col-xs-9 col-md-6" align="center">
                                        <input type="button" class="btn btn-info" value="soumettre" onclick="processActivationForm('activate')"/>
                                    </div>
                                    <div class="col-xs-9 col-md-6" align="center">
                                        <input type="button" class="btn btn-success" value="envoyez un nouveau code" onclick="processActivationForm('resendactivationcode')"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer th:replace="footer :: footer-main">

    </footer>
</div>
<script type="text/javascript">
    function processActivationForm(action) {
        document.getElementById("activationForm").action = '/web/' + action;
        document.getElementById("activationForm").method = "POST";
        document.activationForm.submit();
    }
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
