<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head-section :: head-main">

</head>
<body>

<header th:replace="header-fixed-top :: header-main">>
</header>
<!--================Header Menu Area =================-->

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<section style="min-height: 800px;">
    <!-- START container for featured advertisement -->
    <div class="p-3 ad-category-container mt-5 h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-11 p-0 mb-5 h-100">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="annonces-tab" data-toggle="tab" href="#annonces" role="tab"
                           aria-controls="annonces" aria-selected="true">Mes Annonces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="credits-tab" data-toggle="tab" href="#credits" role="tab"
                           aria-controls="credits" aria-selected="false">Credits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">Profile/Statistiques</a>
                    </li>
                </ul>

                <div class="tab-content border bg-white box-shadow dashboard-tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="annonces" role="tabpanel"
                         aria-labelledby="annonces-tab" aria-selected="true">
                        <div>
                            <div class="mb-2">
                                <button type="button" class="btn btn-success"
                                        onclick="createNewAd('/web/dashboard/advertisements/new')">
                                    <i class="fa fa-plus"></i> Nouvelle Annonce
                                </button>
                            </div>
                            <div class="alert alert-secondary mt-3 w-50"
                                 th:if="${sellerAds == null || sellerAds.size() == 0}">
                                <strong>Note:</strong> Vous n'avez aucune annonce disponible sur votre compte en ce
                                moment. Cliquer sur le button nouvelle annonce pour ajouter une.
                            </div>
                        </div>
                        <div class="mt-5 mb-5 mr-3 ml-3" th:if="${sellerAds != null && sellerAds.size() > 0}">
                            <div>
                            <form name="sellerAdsForm" id="sellerAdsForm"
                                  th:action="@{/web/dashboard/advertisements/view}" method="POST">
                                <input type="hidden" name="adUuid" id="adUuid">
                                <input type="hidden" name="adPage" id="adPage">
                                <input type="hidden" name="listRange" id="listRange" th:value="${listRange}">
                                <input type="hidden" name="oldRange" id="oldRange" th:value="${oldRange}">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Titre</th>
                                            <th>Categorie</th>
                                            <th>Prix</th>
                                            <th>Statut</th>
                                            <th>Date</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tr th:each="ad : ${sellerAds}">
                                            <td><a th:text="${ad.title}" href="#"
                                                   th:onclick="'viewAd(\'' + ${ad.id} + '\')'"></a></td>
                                            <td th:text="${ad.category.name}"></td>
                                            <td th:text="${ad.price}"></td>
                                            <td>
                                                <span th:if="${ad.status == 'A'}" class="badge badge-success">approve</span>
                                                <span th:if="${ad.status == 'P'}"
                                                      class="badge badge-warning">en cours</span>
                                                <span th:if="${ad.status == 'R'}"
                                                      class="badge badge-danger">rejette</span>
                                            </td>
                                            <td th:text="${ad.lastModifiedDate}"></td>
                                            <td>
                                                <i class="fa fa-trash" data-toggle="modal" style="color: #b2b2b2; cursor: pointer" data-target="#deleteConfirmAd"
                                                   th:onclick="'setAdUuid(\'' + ${ad.id} + '\')'"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="credits" role="tabpanel" aria-labelledby="credits-tab">

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    </div>

                </div>

                <!-- /.nav-tab-custom -->
            </div>    <!-- /.col-md-10 -->
        </div>    <!-- /.row -->
    </div>
</section>
<div class="modal fade" id="deleteConfirmAd" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Effacer cette annonce</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Etes vous sure vous voulez effacer cette annonce?
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" data-dismiss="modal" type="button" onclick="deleteAd()">Effacer</button>
                <button class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!--================Footer Area =================-->
<footer th:replace="footer :: footer-main">

</footer>
<!--================End Footer Area =================-->


<script type="text/javascript">
    function viewAd(uuid) {
        document.getElementById('adUuid').value = uuid;
        document.getElementById('sellerAdsForm').action = '/web/dashboard/advertisements/view';
        document.sellerAdsForm.submit();
    }

    function viewAdsPage(pageNumber) {
        alert(pageNumber);
        document.getElementById('adPage').value = pageNumber;
        document.getElementById('sellerAdsForm').action = '/web/dashboard';
        document.sellerAdsForm.submit();
    }

    function deleteAd() {
        alert(document.getElementById('adUuid').value);
        document.getElementById('sellerAdsForm').action = '/web/dashboard/advertisements/delete';
        document.sellerAdsForm.submit();
    }

    function setAdUuid(uuid) {
        document.getElementById('adUuid').value = uuid;
    }
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/stellar.js"></script>
<script src="/vendors/lightbox/simpleLightbox.min.js"></script>
<script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/vendors/isotope/isotope-min.js"></script>
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="/vendors/counter-up/jquery.counterup.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/page-scrolling.js"></script>
</body>
</html>
